[Unit]
Description=Update gpustats Git repo
Wants=gpustats.service
After=network-online.target

[Service]
Type=oneshot
User=gpuwatch
WorkingDirectory=/opt/gpustats-client
ExecStart=/usr/bin/git pull --ff-only
# kill gpustats.service, will get auto-restarted
ExecStartPost=/usr/bin/pkill -u gpuwatch -f gpustats.py

