[Unit]
Description=Check for gpustats updates every 10 min

[Timer]
OnBootSec=5m
OnUnitActiveSec=10m
Persistent=true

[Install]
WantedBy=timers.target
