[Unit]
Description=Check for gpustats updates every 60 min

[Timer]
OnBootSec=5m
OnUnitActiveSec=60m
Persistent=true

[Install]
WantedBy=timers.target
